[submodule "test"]
	path = test
	url = git@github.com:iarellano/JSON-Java-unit-test.git
[submodule "core/src/main/java/org/json"]
	path = core/src/main/java/org/json
	url = git@github.com:iarellano/JSON-java.git
